{% extends "master.html" %}
{% block title %} {{title}} {% endblock %}


{% block content %} 
<div class="container p-lg-5">
    
    <form id="url_form" action="/" method="post">

        <div id="dynamic_inputs"></div>
        <button  class="btn btn-primary" onclick="generalinfodisplay();">Submit</button>
        
    </form>
    <button onclick="textBoxCreate()"  type="button" class="btn btn-secondaryy" data-toggle="button" aria-pressed="false" autocomplete="off">Add Url Field</button>
    <div class="visually-hidden" id="info">
        <h3>Downloading and converting your videos . . .</h3>
        <h2 > Please do not close the tab or else all progress will be lost</h2>
    </div>
    
    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}
    <script>
        function generalinfodisplay(){
            var info = document.getElementById("info");
            info.removeAttribute("class")
        }
        i=0;

        function textBoxCreate(){
            var outer_div = document.createElement("div");
            outer_div.setAttribute("class", "input-group mb-3");
            var inner_input = document.createElement("Input");
            inner_input.setAttribute("type","text")
            inner_input.setAttribute("class","input-group-text")
            inner_input.setAttribute("Name","url"+i)
            outer_div.appendChild(inner_input)
            document.getElementById("dynamic_inputs").appendChild(outer_div);
            i++;
            }
        </script>
    
</div>
{% endblock %}